
body {
    background-color: black;
    margin: 0; /* Remove default margin to ensure full coverage */
    padding: 0; /* Remove default padding to ensure full coverage */
}

/* ABOUT US PAGE STYLING */

#about-us {
    background-image: url('images/BG.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 50px 0; /* Add some padding for better spacing */
}

.container {
    max-width: 800px; /* Limit the width of the content for better readability */
    margin: 0 auto; /* Center the content */
}

#aboutus {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    margin-bottom: 20px; /* Add space below headings */
    text-shadow: 2px 2px 4px #000;
}

p {
    margin-bottom: 20px; /* Add space below paragraphs */
}

/* Style the ordered list */
ol {
    margin-bottom: 20px;
}

/* Style list items within the ordered list */
ol li {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    margin-bottom: 10px;
}

/* Style the footer */
footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

/* PRODUCT STYLING */

.product-container {
    display: flex;
    justify-content: space-between;
}

.filters {
    width: 20%;
    /* Add styling for filters */
}

.products {
    width: 75%;
    /* Add styling for products */
}

.product {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}


/* CONTACT US */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

#contact-container{
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#contact-heading {
    color: #333;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.error {
    color: red;
    margin-bottom: 16px;
}

input[type="submit"] {
    background-color: #5e0606;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #aa2222;
}

.shopping-cart {
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.product-name {
    font-weight: bold;
}

.btn {
    display: inline-block;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.success-message {
    color: green;
}

.error-message {
    color: red;
}
